h1{
    text-align: center;
    font-style: oblique;
    background-color: ;
   
}
div{
    text-align: center;
    padding: 265px;

}
body{
    background-image: url(bg.jpg);
    background-size:cover ;
    
}